.contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.contentsWrap {
    width: 50%;
    padding: 0 2rem;
}

.contentsText {
    line-height: 2em;
    padding-top: 65px;
}

.contentsText.smallArea{
    width: 80%;
}

.contentsImages {
    display: grid;
    gap: 30px;
    height: 100%;
    width: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
}

.contentsImage01 {
    /* width: 100%; */
    /* height: 50%; */
    background-color: aquamarine;
    grid-column: 1/3;
    border-radius: 30px;
}

.contentsImage02 {
    /* width: 100%; */
    /* height: 50%; */
    background-color: blueviolet;
    border-radius: 30px;
}

.contentsImage03 {
    /* width: 100%; */
    /* height: 50%; */
    background-color: burlywood;
    border-radius: 30px;
}

.topMargin {
    padding-top: 70px;
}


.flex {
    display: flex;
    justify-content: space-between;
    gap: 0 2rem;
}

@media screen and (max-width: 767px) {
    .flex {
        justify-content: normal;
        flex-direction: column;
        gap: 0 2rem;
    }
    .contents{
        padding: 0 20px;
    }
    .contentsWrap {
        width: 100%;
    }
    .contentsText {
        line-height: 1.8em;
        padding-top: 45px;
    }
    .contentsText.smallArea{
        width: 100%;
    }

    .contentsImages {
        display: grid;
        gap: 20px;
        height: 300px;
        /* max-width: 100%; */
        grid-template-columns: calc(40% - 10px) calc(60% - 10px);
        grid-template-rows: 50% 50%;
        box-sizing: border-box;
        margin-top: 30px;
    }
}